In [2]:
print("hello world");

hello world

In [2]:
x = 22 
print(x)

22

In [3]:
y = "Aya Oraby"
print(y)

Aya Oraby

In [4]:
type(y)

str

In [6]:
x,y,z = "aya","helmy" , "oraby "
print(x,y,z)

aya helmy oraby

In [ ]:
name = ["aya","helmy", "Oraby"]

In [ ]:
x,y,z = name

In [7]:
print(x,y,z)

aya helmy oraby

In [14]:
# testvarcase 

test_variable = "ayaoraby"
print(test_variable)

ayaoraby

In [16]:
test_variable = 'ayaoraby'
print(test_variable)

ayaoraby

In [22]:

x = "aya"+"oraby"
y = 4
print(x,y)

ayaoraby 4

# Data Types

In [23]:
type ( 12 - 4)

int

In [24]:
type (12 + 16.00)

float

In [25]:
type ( 2+2j)

complex

In [26]:
 1 > 5

False

In [ ]:
# String

In [27]:
'Single quote'

'Single quote'

In [28]:
"""Aya Helmy Oraby """

'Aya Helmy Oraby '

In [31]:
a = "aya oraby"
print (a[4])
print(a*3)

o
aya orabyaya orabyaya oraby

In [32]:
["aya","helmy","oraby"]

['aya', 'helmy', 'oraby']

In [35]:
var  = ["aya" , 3 , ["aya", "helmy"]]
print (var[2])

['aya', 'helmy']

In [ ]:
#tuples

In [37]:
tuples = (1,2,3,4)
type(tuples)

tuple

In [39]:
#sets 
daily_pints = {1,2,3,5}
type(daily_pints)

set

In [44]:
aya = {1,2,3}
oraby = {3,4,6}

print(aya| oraby)
print(aya&oraby)
print(aya^oraby)

{1, 2, 3, 4, 6}
{3}
{1, 2, 4, 6}

In [54]:
#dictionaries 
diction = {"name":"helmy", "detail" : ["aya","oraby"]}
type(diction) 
# del diction["name"]
# print(diction)

dict

In [56]:
#operator
10 ==10

True

In [61]:
 10 ==10

True

In [64]:
x = " aya"
y = "oraby "
x!=y

True

In [65]:
(20 > 45 and 45 >94)

False

In [67]:
icecream = "i love ice cream"
"love" not in icecream

False

In [78]:
if 23 > 5 : print( "great")
elif 43 > 55: print("notgreat")
else: print("sad")

great

In [85]:
#for loop 
integer = [1,2,3,4,5]
for number in integer:
    print(number)
    print("yap")
    print( number +number )

1
yap
2
2
yap
4
3
yap
6
4
yap
8
5
yap
10

In [89]:
name = { "name" : "aya" , "fathername": ["Helmy", "Oraby"]}
for names in name.items() :
    print(names)

('name', 'aya')
('fathername', ['Helmy', 'Oraby'])

In [91]:
# Nested Fpr Loop
flavor = ["aya","oraby"]
topping = ["aya", "oraby "]
for one in flavor:
    for two in topping:
        print(one,two)

aya aya
aya oraby
oraby aya
oraby oraby

In [107]:
#while loop

number = 0 
while number < 6 :
    print(number)
    if number == 3:
        break
    number = number+1
else :     
    print("No longer")

0
1
2
3

In [111]:
def function():
    print("hello")
function()

hello

In [117]:
def numsq(number,power):
    print(number**power)
numsq(4,3)

64

In [121]:
def num(*num):
    print(num[0]*num[1])
num(1,2,3)

2

In [122]:
def numsq(number,power):
    print(number**power)
numsq(power = 4, number = 3)

81

In [130]:
def num(*num):
    print(num[0])
num(5,4,5,6)

5

In [132]:
#conerting data 
num  = 4 

type(num)
num = str(num)
type(num)

str

In [133]:
list = [1,2,3]
type(list)

list

In [137]:
#dict 

log = "i like to party"
set(log)

{' ', 'a', 'e', 'i', 'k', 'l', 'o', 'p', 'r', 't', 'y'}

In [139]:
list = [1,3,5,6,3,2,5,3]
set(list)

{1, 2, 3, 5, 6}

In [157]:
dictype = {"name": "Aya" , "Age":23}
type(dictype)

dict

In [162]:
dictype.items()

dict_items([('name', 'Aya'), ('Age', 23)])

In [163]:
dictype.values()

dict_values(['Aya', 23])

In [164]:
dictype.keys()

dict_keys(['name', 'Age'])